* {
    margin: 0%;
    padding: 0%;
}

body {
    min-height: 100%;
    background-color: rgb(160, 196, 244);
}

#background-img {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
}

nav {
    position: relative;
    z-index: 1;
    justify-content: space-evenly;
    margin: auto;
    background-image: linear-gradient(black, rgb(0, 0, 0, 0));
    padding-top: 2%;
    margin-bottom: 11%;
}

nav a, #about {
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    color: white;
}

h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 12%;
    font-size: 3.3em;
    color: white;
}

#portfolio_titles {
    font-size: 2em;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}

#div1 {
    position: absolute;
    z-index: 2;
    margin-top: 5%;
    display: inline-block;
    width: 40%;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    margin-left: 5%;
 
}

#div2 {
    position: absolute;
    z-index: 2;
    margin-top: 5%;
    display: inline-block;
    width: 40%;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    margin-left: 54%;
}

#div3 {
    position: relative;
    z-index: 2;
    margin-top: 2%;
    display: inline-block;
    width: 40%;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    margin-left: 5%;
}

#div4 {
    margin: 0;
    position: relative;
    z-index: 2;
    margin-top: 2%;
    display: inline-block;
    width: 40%;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    left: 9%;
}

#about-me {
    position: fixed;
    z-index: 2;
    text-align: center;
    top: 78%;
    left: 4%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50%;
    min-width: 130px;
    min-height: 130px;
}

#about {
    position: fixed;
    z-index: 3;
    text-align: center;
    top: 81%;
    left: 4%;
    min-width: 130px;
    min-height: 130px;
}



@media screen and (max-width: 1277px) {

    nav {
        margin-bottom: 4%;
    }

    h1 {
        margin: auto;
     min-width: 100%;
        margin-top: 0;
        font-size: 2.2em;
        }

    
    #div1 {
        margin-top: 8%;
    }
    
    #div2 {
        margin-top: 8%;
    }

    #cs {
        font-size: 1.8em;
    }

    #div3 {
        margin-top: 20%;
    }

    #div4 {
        margin-top: 20%;
    }

    #about-me {
        top: 80%;
    }
    
    #about {
        top: 83%;
    }
    
}
